.top-list {
    background-color: #e1e1e2;
    padding: 20px 60px;
}
.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.card-container_footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #bfbfbf;
    padding-top: 10px;
}

.fa {
    cursor: pointer
}

.red {
    color: red;
}

.loading-container {
    height: calc(100vh - 44px);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.loading-container h6 {
    width: 100%;
    text-align: center;
    margin: 25px;
}

.card {
    width: 230px;
    margin: 10px;
    box-shadow: 0 0 12px 1px black;
}

.card-title {
    font-size: 1rem;
    text-align: center;
}

.card-body {
    display: flex;
    flex-flow: column;
    padding: 1.25rem;
    justify-content: space-between;
}